html {
      scroll-behavior: smooth;
    }

#About{
    scroll-margin-top: 80px;
}
#Contact{
    scroll-margin-top: 80px;
}
#Projects{
    scroll-margin-top: 80px;
}
.nav-item {
    margin-left: 30px;
}

/* .navbar-nav {
    margin-left: 20px;
} */

p {
    margin: 0;
    font-family: sans-serif;
}

.navbar-nav a{
    font-family: 'Roboto';
    font-size: 20px;
}

.navbar-nav a:first-of-type {
  font-family: 'Roboto';
  font-size: 25px;
}

.describe-me {
    padding: 50px 50px;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 50px;
}



.case-studies{
    /* background-color: #BBFBFF; */
    /* height: 300px; */
    
}

.projects{
    margin-top: 50px;
    width: 70%;
    
}

.card-body a{
    background-color: #8DD8FF;
    border: 2px solid #8DD8FF;
    border-radius: 12px;
    color: black;
}

.two-studies{
    margin-top: 10px;
}

footer{
    margin-top: 50px;
    height: 20px;
    background-color: #5409DA;
}

.profile-pic{
    width: 200px;
    height: 200px;
}